
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<h2>Welcome, @HttpContext.Current.User.Identity.Name</h2>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout","User",FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}

